.main_sidebar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile_sidebar {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    padding: 1rem 2rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 20rem;
    width: 20rem;
    max-height: 28rem;
    text-align: center;
    display: block;

    h4 {
        margin: 1.5rem 0;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .avatar {
        .avatar_upload {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: $white;
            margin: auto;
            .avatar_image {
                width: 100%;
            }

            .fa {
                margin: auto;
                position: absolute;
                bottom: -4px;
                left: 0;
                text-align: center;
                right: 0;
                padding: 6px;
                opacity: 1;
                -webkit-transition: opacity 1s linear;
                -o-transition: opacity 1s linear;
                transition: opacity 1s linear;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0px;
                    background: rgba(255, 255, 255, 0.699);
                    ;
                    z-index: -1;
                    -webkit-transition: height 0.3s;
                    -o-transition: height 0.3s;
                    transition: height 0.3s;
                }
            }
        }

        .avatar_upload .fa {
            opacity: 1;
            -ms-transform: scale(1);
                transform: scale(1);
            -webkit-transform: scale(1);
        }

        .avatar_upload:hover .fa:after {
            height: 100%;
        }

        .upload input[type='file'] {
            width: 157px !important;
            height: 57px !important;
            opacity: 0 !important;
            overflow: hidden !important;
        }
        .image_upload {
            position: absolute;
            color: black !important;
            width: 157px !important;
            height: 57px !important;

        }
        .avatar_preview {
            width: 466px;
            height: 300px;
            margin: 2rem 0;
        }
    }

    .informations {
        display: block;
        position: relative;

        .follow {
            margin-bottom: 1rem;
        }
        .nav-link {
            padding: 0;
        }
    }
    a:active {
        color: $orange !important;
    }
}