footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    margin-left: 5rem;
    z-index: 1;

    audio {
        width: 100vw;
        // background-color: $orange;
    }

    // audio::-webkit-media-controls-panel {
    //     background-color: $orange;
    // }
}


// audio
// {
// -webkit-transition:all 0.5s linear;
// -moz-transition:all 0.5s linear;
// -o-transition:all 0.5s linear;
// transition:all 0.5s linear;
// -moz-box-shadow: 2px 2px 4px 0px #006773;
// -webkit-box-shadow:  2px 2px 4px 0px #006773;
// box-shadow: 2px 2px 4px 0px #006773;
// -moz-border-radius:7px 7px 7px 7px ;
// -webkit-border-radius:7px 7px 7px 7px ;
// border-radius:7px 7px 7px 7px ;
// }

// audio:hover, audio:focus, audio:active
// {
// -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
// -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
// box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
// -webkit-transform: scale(1.05);
// -moz-transform: scale(1.05);
// transform: scale(1.05);
// }








// audio::-webkit-media-controls-panel

// audio::-webkit-media-controls-mute-button

// audio::-webkit-media-controls-play-button

// audio::-webkit-media-controls-timeline-container

// audio::-webkit-media-controls-current-time-display

// audio::-webkit-media-controls-time-remaining-display

// audio::-webkit-media-controls-timeline

// audio::-webkit-media-controls-volume-slider-container

// audio::-webkit-media-controls-volume-slider

// audio::-webkit-media-controls-seek-back-button

// audio::-webkit-media-controls-seek-forward-button

// audio::-webkit-media-controls-fullscreen-button

// audio::-webkit-media-controls-rewind-button

// audio::-webkit-media-controls-return-to-realtime-button

// audio::-webkit-media-controls-toggle-closed-captions-button