$texte : 'Work Sans', sans-serif;
//colors
$orange: #FF4600;
$orange-50: rgba(255, 70, 0, 0.69);
$blanc: #FFF;
$bleu:#0F235A;
$bluelight:#09132c;
$bluedark: #020b1a;
$red: #dc3545;
$white: #FFFF;
$grey: #666666;